* {
    margin: 0;
    padding: 0;
    border: box;
}

h3{
    font-family:"Instrument Serif", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
}

h1{
    font-family: "Instrument Serif", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    margin-left: 40px;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.custom-link {
    color: inherit; /* Usa el color del texto del contenedor padre */
    text-decoration: none; /* Quita el subrayado */
  }

primary-menu {
    justify-content: center;
}

primary-menu{
    font-family: "Work Sans", sans-serif;
    font-weight:600;
    font-size: 12px;
    list-style: none;
}


li{
    list-style: none;
    padding: 1% 12px;
    width: 100px;
}

first-list a{
    align-items: center;
    text-decoration: none;
    color: black;   
}

.first-list a:hover{
    color: pink;   
}

#app{
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    color: black;
}

.testimonios{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: #fff;
}
a.nav-link{
    color: black;
}

a.nav-link:hover{
    color: hotpink;
}
button.a{
    text-decoration: none;
    color: white;
}
d-grid gap-2{
    text-decoration: none;
    color: white;
}
